<h2>Dear Project Owner</h2>

<p>Here is your weekly performance analysis.</p>

<p>Payout: Your Team <%= @analytics["team_name"] %> daily's pay out is <%= @analytics["pay_out"] %></p>
<p>Occupancy: In Team <%= @analytics["team_name"] %> you have currently <%= @analytics["employee_count"] %> employees.</p>
Attendance: In Team <%= "#{@analytics["team_name"]} #{@analytics["attendance"]}" showed up to work.</p>
Target: <%= @analytics[@"target_met"] %>% of employees managed to achieve daily targets.

Thank you for using Net Pay!
